<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login | Ludiflex</title>
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>

        <!-- Hata Mesajını Göster -->
        <% if (error_message.length > 0) { %>
            <div class="error-message">
                <%= error_message %>
            </div>
        <% } %>

        <!-- Formun başlangıcı -->
        <form method="POST" action="/users/login">
            <div class="input-box">
                <input type="text" name="email" class="input-field" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" class="input-field" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit">Sign In</button>
            </div>
        </form>
        <!-- Formun bitişi -->

        <div class="sign-up-link">
            <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
